
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Signup Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{% static 'candidates/signup.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Magnolia+Script&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="container_header">
          <img src="{% static 'candidates/logo.jpg' %}" alt="College Mantra Logo" class="logo">
          <h1>COLLEGE <span>MANTRA</span></h1>
        </div>
      </header> 
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="{% url 'candidates:candidate_signup' %}" method="post">
        {% csrf_token %}
        <h3>Signup Here</h3>
        <label for="username">Roll Number</label>
        <input type="text" placeholder="Roll Number" name="username" id="username" required>
        
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required>
        
        <button type="submit">Signup</button>
        <a href="{% url 'candidates:candidate_login' %}" >I already have an account</a>
    </form>
    <script src="{% static 'candidates/signup.js' %}"></script>
</body>
</html>
