{% extends 'colleges/base.html' %}

{% load static %}

{% block title %}College Home Page{% endblock %}

{% block content %}
<!-- Specific Styles for Home Page -->
<link rel="stylesheet" href="{% static 'colleges/home.css' %}">
<main class="section">
    <section class="welcome-section">
        <h1>Welcome, {{ request.user.username }}</h1>
        <p>Welcome to the college dashboard. Manage your information, register for events, and more.</p>
    </section>    
    <section>
        <a href="{% url 'colleges:college_register' %}" class="btn">College Registration</a>
    </section>
    <section>
        <a href="{% url 'colleges:college_courses' %}" class="btn">View Courses</a>
    </section>
    <section>
        <a href="{% url 'colleges:show_college_allocation' %}" class="btn">Admitted Students</a>
    </section>
    <section>
        <a href="{% url 'colleges:update_seats' %}" class="btn">Update Seats</a>
    </section>
</main>
{% endblock %}
