{% extends 'users/base.html' %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<!-- Specific Styles for Home Page -->
<link rel="stylesheet" href="{% static 'users/home.css' %}">
<section class="section">
    <div class="container">
      <h2>Seat Matrix</h2>
      <p>Check the seat matrix for various institutes including IITs, NITs, and GFTIs.</p>
      
      <!-- Table to display seat matrix -->
      <h3>Seat Matrix Details</h3>
      <table >
        <thead>
          <tr>
            <th>College Name</th>
            <th>Branch Name</th>
            <th>Program Name</th>
            <th>Total Seats</th>
            <th>Allocated Seats</th>
            <th>General Seats</th>
            <th>OBC-NCL Seats</th>
            <th>SC Seats</th>
            <th>ST Seats</th>
          </tr>
        </thead>
        <tbody>
          {% for course in college_courses %}
          <tr>
            <td>{{ course.college_name }}</td>
            <td>{{ course.branch_name }}</td>
            <td>{{ course.program_name }}</td>
            <td>{{ course.total_seats }}</td>
            <td>{{ course.allocated_seats }}</td>
            <td>{{ course.general }}</td>
            <td>{{ course.obc_ncl }}</td>
            <td>{{ course.sc }}</td>
            <td>{{ course.st }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="9">No data available.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
